add_library({{name}} INTERFACE)
target_sources({{name}}
    INTERFACE
        FILE_SET HEADERS
            BASE_DIRS ${CMAKE_CURRENT_SOURCE_DIR}
            FILES
                {{name}}.hpp
)
target_include_directories({{name}} INTERFACE ${CMAKE_CURRENT_SOURCE_DIR})
target_compile_features({{name}} INTERFACE cxx_std_{{std_number}})
